<!-- <div class="container" id="formContainer">
  <h3 class="form-signin-heading">Login</h3>
  <input type="text" class="form-control" name="username" placeholder="Username" [(ngModel)]="username" required autofocus>
  <br>
  <input type="password" class="form-control" name="password" placeholder="Password" [(ngModel)]="password" required>
  <br>
  <button class="btn btn-lg btn-primary btn-block" (click)='validate()'>Login</button>
</div> -->

<mat-card>
  <h3 [ngStyle] = "getColor()">Login</h3>  
  <div class="example-container">
    <mat-form-field>
      <input matInput placeholder="Username" [(ngModel)]="username">
    </mat-form-field>
    <mat-form-field>
      <input matInput type="password" placeholder="Password" [(ngModel)]="password">
    </mat-form-field>
  </div>
  <button mat-raised-button color="accent" (click)='validate()'>Login</button>
</mat-card>