.paymentContainer .btn{
    margin: 15px;
}
.mat-card{
    width: 50%;
    margin: 5% auto;
}
.mat-card h3{  
    margin-bottom: 20px;
    font-weight: bold;
}
.mat-card-content .mat-card{
    width: 95%;
    margin: 5% auto;
}
  